div{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    background-color: cornflowerblue;
    color: white;
    width: 50%;
}
.hihi{
    color: rgb(255, 255, 255);
    background-color: blue;

}
.hi{
    width: 523px;
    height: 534px;
}